/* colors

main: #653EDD

*/


/* reset */
*, body {
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', monospace;
  text-decoration: none;
  /* overflow-x: ; */
}

a:hover {
  text-decoration: underline;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #653EDD;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #4c30a1;
}

button:focus {
  /* outline: 1px solid #fff; */
  /* outline-offset: -4px; */
}

button:active {
  transform: scale(0.99);
}

.container {
  max-width: 1140px;
  width: 100%;
  margin:0 auto;
  padding: 32px 20px;
  position: relative;
}

@media only screen and (max-width: 1140px) {
  .container {
    width: 100%;
    padding: 32px 20px;
    margin:0 0;
  }
}

/* utils */
.underline {
  text-decoration: underline;
}

/* nav bar */
nav {
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 100;
  left: 0;

  width: 100%;
  height: 56px;
  
  /* padding: 0 20px; */
  top: 32px;
  /* margin: 32px 0px; */
  background-color: transparent;
  transition: background-color 300ms ease-in-out;
  color: #ffffff;
}

.nav-logo-link {
  position: absolute;
  left: 20px;
  top: 0;
}

.nav-logo-link:hover {
  text-decoration: none;
}

.nav-title {
  color: #ffffff;
  background-color: #653EDD;
  transition: background-color 300ms ease-in-out;
  /* height: 56px; */
  font-weight: 700;
  font-size: 37px;
  padding: 1px 10px;
  /* margin-left: 10px; */
  display: inline-block;
  vertical-align: top;
}

.nav-logo {
  background: #000000;
  width: 60px;
  height: 56px;
  display: inline-block;
  /* vertical-align: top; */
}

.nav-logo > img {
  margin-top: 14px;
  margin-left: 11px;

}

.nav-menu {
  font-style: italic;
  font-size: 37px;
  display: inline-block;
  /* margin-right: 20px; */
  position:absolute;
  right: -946px;
  transition: right 600ms ease-in-out;
}

.nav-menu.expanded {
  right: 10px;
}

.nav-links > .selected {
  font-weight: 700;
  text-decoration: underline;
}

.nav-links {
  /* margin-right: -10px; */
  padding: 1px 20px;
  background-color: #653EDD;
  transition: background-color 300ms ease-in-out;

  overflow: hidden;
  display: inline-block;
}

.nav-links .show {
  max-width: auto;
}



#nav-toggle {
  vertical-align: top;
  font-style: italic;
  font-size: 37px;
  background-color: #653EDD;
  transition: background-color 300ms ease-in-out;
  margin-right: 0px;
  padding: 7px 20px;
}

.nav-links > a {
  color: #fff;
}

#nav-toggle:hover, .nav-links > a:hover {
  text-decoration: underline;
  color:#fff;
}

/* nav dark mode */
.is-dark > .nav-menu > #nav-toggle,
.is-dark > .nav-menu > .nav-links,
.is-dark > .nav-logo-link > .nav-title {
  background-color: #000000;
}

nav.is-dark {
  background-color: #000000;
  border-bottom: 3px solid #ffffff;
  position: fixed;
  top: 0;
}

/* FOOTER */
footer {
  background-color: #ffffff;
  border-top: 3px solid #653EDD;
  color: black;
  height: 400px;
}

footer a {
  color: #000000;
}

#footer-content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  /* column-width: 30%; */
}

.footer-link {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
}

footer h3 {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
}

#footer-menus, #footer-contributors, #footer-logos {
  width: 30%;
}

.footer-names-cols {
  margin-top: 60px;
  columns: 2;
}

.footer-logo-link {
  margin-top: -6px;
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.footer-logo-link:hover {
  text-decoration: none;
}

.footer-title {
  color: #000;
  font-weight: 700;
  font-family: Space Mono;
  font-style: normal;
  font-size: 32px;
  line-height: 36px;
}

.footer-logo {
  /* background: #fff; */
  width: 60px;
  margin-right: 15px;
  /* vertical-align: top; */
}

.footer-logo > img {
  margin-top: 14px;
  margin-left: 11px;
  fill: #000;
}

.footer-menu-link {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  display: block;
}

.logo-block {
  margin-top: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-block img {
  width: 120px;
  display: inline-block;
}

.logo-block a {
  padding: 10px 20px;
  height: 43px;
  display: inline-block;
  border: 2px solid black;
}

.logo-block img.atlas-brand {
  margin-top: 9px;
}

.logo-block .cu-brand {
  margin-top: 15px;
  height: 64px;
}

.logo-block .cu-brand > img{
  width: 298px;
}

/* generic section stuff */
.page-section {
  width: 100%;
  height: calc(100vh - 130px);
  background: #fff;
  color: #000;
  padding: 130px 0px;
}

.page-section.is-dark {
  background: #000;
  color: #fff;
}

.page-section h2 {
  font-family: Space Mono;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  color: #653EDD;

  display: block;
  position: relative;
  width: 225px;
}

.page-section .placeholder {
  width: 550px;
}

.page-section h2:before {
  display: block;
  width: 118px;
  height: 10px;
  background: #653EDD;
  position: absolute;
  top: -25px;
  left: 0;
  content: "";
}

.page-section.placeholder {
  height: 170px;
}

.page-section.is-dark h2 {
  color: #fff;
}

.page-section.is-dark h2:before {
  background: #fff;
}

.section-items {
  display: flex;
  color: #000;
}

.is-dark .section-items {
  color: #fff;
}

.section-items ol {
  list-style: none;
  padding-top: 63px;
  padding-left: 117px;
  width: 260px;
}

.section-items li {
  font-family: Inter;
  font-size: 18px;
  line-height: 26px;
  margin-top: 80px;
  position: relative;

  counter-increment: inst;
}

.section-items li:before {
  content: counter(inst) ".";

  position: absolute;
  left: 0;
  top: -44px;
  font-family: Space Mono;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.section-items li a {
  text-decoration: underline;
  color: inherit;
  font-family: inherit;
  position: relative;
}

.section-items img {
}

@media only screen and (max-width: 1140px) {
  .page-section {
    padding: 130px 20px;
  }
}


